<div class="validate-banner header-3b" *ngIf="!showBottomBorder">
    <span *ngIf="validated">**Validated**Validated**Validated**Validated**</span>
    <span *ngIf="!validated">**Validate Mode**Validate Mode**Validate Mode**Validate Mode**</span>
</div>

<div class="validate-banner border-bottom header-3b" *ngIf="showBottomBorder">
    <span *ngIf="validated">**Validated**Validated**Validated**Validated**</span>
    <span *ngIf="!validated">**Validate Mode**Validate Mode**Validate Mode**Validate Mode**</span>
</div>