.validate-banner{
    background: #FFE15F;
    //font-size: 24px;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    // border-top: 2px solid black;
  }

  .border-bottom{
    border-bottom: 2px solid black !important;
  }