<div #deletemodal style="display :none" class="deletemodal">
  <div class="emailContainer">
    <div class="confirm-custom-header">
      <h2 class="modal-title m-auto bold">Confirm</h2>
      <!-- <button type="button" class="close" aria-label="Close" (click)="Dismiss()">
        X
      </button> -->
    </div>
    <div style="text-align: center; font-size: 15px" class="mb-0">
      Are you sure you want to delete the email notification?
    </div>
    <div class="modal-footer model-footer-reduced">
      <button type="button" class="btn btn-sm btn-primari nextbutton mb-2 mr-2 upload" (click)="Accept()">Ok</button>
      <button type="button" class="btn btn-sm btn-outline-dark closebutton mb-2" (click)="Decline()">Cancel</button>
    </div>
  </div>
</div>