// these can move to global style
.bottom-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.2rem 1rem;
}
.footer-row {
.step-names.step-names{
  letter-spacing: normal;
  margin: 0 0 16px;
  margin-bottom: 15px !important;
}
 //position: fixed;
 bottom: 0;
 Width: 100%;
 //background-color: #CAD1CC;
 padding: 15px 0 5px 0;
}

.map-parent{
  height: 90vh !important;
}
