<div class="col-12" style="margin-bottom: 1rem !important;">
  <app-gis-map-view [mapProperties]="mapProperties" [projectId]="projectId" [decId]="decId" [mapStyle]="mapStyleClass"></app-gis-map-view>
</div>
<div class="col-12">
  <div class="row footer-row mt-20">
    <div class="col-md-12">
      <div class="float-right">
        <button type="button" class="btn btn-sm btn-primari nextbutton mb-2 mr-2 upload" (click)="close()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>



