.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu-hidden {
    background-color: white;
    position: absolute;
    display: none;
    width: 5rem;
  }
  
  .dropdown-menu-visible {
    background-color: white;
    position: absolute;
    display: block;
    width: auto;
    z-index: 99;
    max-height: 15rem;
    overflow-y: auto;
  }
  
  .dropdown-option {
    list-style-type: none;
    padding: 0 1rem;
  }
  
  .dropdown-option:hover {
    background-color: #dfe0e6;
  }

  .z-i-100{
    z-index: 100;
  }