<ng-template #confirmDeleteModal let-modal>
  <!-- <div class="modal-header border-bottom-0">
          <div class=" text-center ">

    </div> -->
  <div class="modal-body">
    <div class="confirm-custom-header" *ngIf="!isAlsoApplicant">
      <div>
        <!-- intentionally left blank to center confirm text -->
      </div>
      <h2 class="modal-title m-auto header-1b" id="modal-basic-title">Confirm</h2>
    </div>
    <div *ngIf="isValidate">
      <p style="text-align: center;" class="mb-0 typo-2">Rejection should only be used for rare projects that can NOT be uploaded to DART/eFind accurately 
        because the user has chosen the incorrect facility or for another fatal reason.</p>
    </div>

    <div *ngIf="!isMultiple && !isAlsoApplicant">
      <p style="text-align: center;" class="mb-0 typo-2">
        {{bodyText}}
      </p>
      <div *ngIf="!isDashboard && deletedDocName">
        <li class="mb-0 ml-65 typo-2" *ngIf="!fromSupporting">
          {{deletedDocName}}
        </li>
        <li class="mb-0 ml-100 typo-2" *ngIf="fromSupporting">
          {{deletedDocName}}
        </li>
      </div>
    </div>

    <div *ngIf="isMultiple && !isAlsoApplicant">
      <p style="text-align: center; font-size: 15px" class="mb-1">
        {{bodyText}}
      </p>
      <p style="text-align: left; font-size: 15px" class="mb-0 ml-14" *ngFor="let file of filesList">
        <input type="checkbox" class="mr-1" [id]="file.documentId" (input)="onCheckBoxChange($event)">
        <label>{{file.displayName}}</label>
      </p>
    </div>
    <div class="" *ngIf="isAlsoApplicant">
      <div class="mr-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-exclamation-triangle float-left" viewBox="0 0 16 16">
          <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
          <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
        </svg>
      </div>
      <div class=" flex-column">
        <div class="typo-2 text-center">{{deletedDocName}} is also the applicant.</div>
        <div class="typo-2 text-center">Click <strong>Delete</strong> to remove them from the project entirely</div>
        <div class="typo-2 text-center">OR</div>
        <div class="typo-2 text-center">Choose <strong>Cancel</strong> and return to the applicant detail screen to remove them as the property owner.</div>
    
      </div>
    </div>
  </div>
  <div *ngIf="isDashboard && isValidate" class="form-container">
      <div class="col-12 t-center">
        <div class="form-group" style="display: block !important">
          <h3 class="w-200 p-0 m-0 summary-align typo-1">
            Reason for Rejection*:
          </h3>
          <div class="form-check">
            <textarea id="textarea-common" 
            [ngStyle]="{'width':'98%'}"
            name="brief"
           [(ngModel)]="reason"
[maxlength]="250" class="description" [rows]="4"></textarea>
<span class="counter-brief">{{reason?.length}} / 250</span>
          </div>
          <div class="d-block brief-err">
            <span class="addr-error-msg ml-80 typo-2" *ngIf="reasonError">Error: Rejection Reason
              Required.</span>
          </div>
        </div>
      </div>
  </div>
  <div class="modal-footer model-footer-reduced">
    <button  *ngIf=" isValidate" type="button" class="btn btn-sm btn-primari nextbutton mb-2 mr-2 upload"
      (click)="deleteClicked(); reason=null;" id="deleteBtn">
      Reject
    </button>
    <button  *ngIf="!isValidate"type="button" class="btn btn-sm btn-primari nextbutton mb-2 mr-2 upload"
      (click)="modal.dismiss('Cross click'); deleteClicked(); " id="deleteBtn">
      Delete
    </button>

    <button type="button" class="btn btn-sm btn-outline-dark closebutton mb-2"
      (click)="modal.dismiss('Cross click'); onCloseClicked(); reason=null;" id="cancelBtn">
      Cancel
    </button>
  </div>
</ng-template>