.header{
    max-height: 50px;
    justify-content: space-between;
    display:flex;
    align-items: center;
    // h3{
    //     font-weight: 700;
    // }
}

table {
 //   border: 1px solid #65666b;
    td{
        color: #000;
    }
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: white;
}
.scrollable{
    min-height: 20px;
    max-height: 130px;
    overflow:auto;
    width:100%;
}


.text-blue{
    color:rgb(71,146,234);
}




.past-due{
    color: red;
    font-weight: 600;
}
