.checkbox-label{
    font-weight: 600;
}

.font-16{
    font-size: 16px;
}

@media (max-width: 1210px) {
    .no-padding-right{
        padding-right: 0px !important;
    }
    // .no-padding-left{
    //     padding-left: 0px !important;
    // } 
    .w-90{
        width: 90px;
      }
  }

