<p-table
[styleClass]="!rounded ? 'p-datatable-lg has-no-rounded-headers' : 'p-datatable-lg'"
[value]="keywordItems"
class="w removeBoxShadow"
[scrollable]="keywordItems?.length > 5 ? true : false"
scrollHeight="175px"
[totalRecords]="keywordItems.length"
aria-describedby="An Keywords table"
>
<caption class="typo-1">
  For Keywords table
</caption>
<ng-template pTemplate="header">
  <tr role="rowgroup" class="no-filter">
    <th
      scope="col"
      aria-label="Keyword Category Header"
      role="columnheader"
      aria-sort="none"
      class="table-header-primary"
      [ngStyle]="{ width: '20%', color: '#65666B' }"
    >
      Category
    </th>
    <th
      scope="col"
      role="columnheader"
      aria-label="Keyword Category Header"
      aria-sort="ascending"
      class="table-header-primary"
      [ngStyle]="{ width: '60%' }"
    >
      Keyword Text
    </th>
    <th
      scope="col"
      role="columnheader"
      aria-label="Keyword Category Header"
      aria-sort="ascending"
      class="table-header-primary"
      [ngStyle]="{ width: '30%',
      'text-align': 'center' }"
    >
      Add/Remove 
    </th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-item let-i="rowIndex">
  <tr role="rowgroup">
    <td
      scope="col"
      role="cell"
      aria-label="Activity Type Cell"
      aria-sort="none"
      class="table-body"
      [ngStyle]="{
        'text-align': 'left',
        'word-wrap': 'break-word',
        width: '20%'
      }"
    >{{item.categoryText}}
    </td>
    <td
      scope="col"
      role="columnheader"
      aria-label="KeyWords text Cell"
      aria-sort="ascending"
      class="table-body"
      [ngStyle]="{
        'text-align': 'left',
        'word-wrap': 'break-word',
        width: '60%'
      }"
    >{{item.keywordText}}
    </td>

    <td
      scope="col"
      role="columnheader"
      aria-label="Bridge Cell Cell"
      aria-sort="ascending"
      class="table-body"
      [ngStyle]="{
        'text-align': 'center',
        'word-wrap': 'break-word',
        width: '30%'
      }"
    >
      <span style="cursor: pointer; margin-left: -2px">
        <input
          #keywordCheckBox
          class="form-check-input"
          type="checkbox"
          [ngModel]="item[checkBoxKey] == 1"
          (ngModelChange)="item[checkBoxKey] = $event ? 1 : 0;emitChanges(item)"
        />
      </span>
    </td>
  </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
  <tr>
    <td style="text-align:center ;" colspan="100">No Records Available.</td>
  </tr>
</ng-template>
</p-table>