<mat-accordion class="vdg-accordion mat-expansion--has-toggle-icon-left w-982 pad-left-0">

  <mat-expansion-panel [expanded]="false" class="mat-elevation-z0 w-982 pad-left-0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="header header-1b">{{ title }}</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="body overflow-auto w-100 white pad-left-0" role="rowgroup">
      <p-table class="removeBoxShadow white" styleClass="p-datatable-lg has-no-rounded-headers" [value]="rows"
        scrollHeight="160px" [scrollable]="rows?.length > 3 ? true : false" [totalRecords]="rows.length"
        sortField="sapaDeadlineValue" [sortOrder]="1">
        <ng-template pTemplate="header">
          <tr role="rowgroup">
            <th scope="col" role="row" headers="h1" id="theader{{i}}" class="table-header-primary"
              [pSortableColumn]="header.pSortableColumn" *ngFor="let header of headers;let i=index;"
              [ngStyle]="header.style" [hidden]="header?.hidden">
              <div [innerHTML]="header.title"></div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-i="rowIndex">
          <tr role="rowgroup">
            <td scope="cell" role="row" class="table-body" [ngStyle]="header.style" *ngFor="let header of headers"
              [hidden]="header.hidden">
              <div
                [innerHTML]="header.field ==='receivedAt' ? (row[header.field] ? (row[header.field]| date:'MM/dd/yyyy'):''):row[header.field]">
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </mat-expansion-panel>

</mat-accordion> 