.error-container {
    display: inline-table;
    top: 50%;
    left: 20%;
    height: calc(100vh - 300px);
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      )no-repeat center;
      background-size: cover;
      color: white;

      h1{
          font-size: 4rem;
      }
      h1, h3 {
          margin: 0;
      }
}

::ng-deep nav.navbar {
    display: none;
  }